@charset "utf-8";
.page {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    >.contain {
        position: relative;
        z-index: 0;
        .title,
        .titleEng {
            animation: dragLeft .7s ease-in-out both;
            position: absolute;
        }
        .title {
            animation-delay: .8s;
            line-height: 60px;
            letter-spacing: 8px;
        }
        .titleEng {
            animation-delay: 1.2s;
            line-height: 3.2;
            font-weight: normal;
            margin-top: 50px;
        }
    }
}


